$base-spacing-unit : rem-calc(20);

$font-family-base:  "Montserrat", "helvetica", sans-serif;
$font-family-heading: "Montserrat", "helvetica", sans-serif;
$font-family-meta: 'Inconsolata', Menlo, sans-serif;


$font-weight-normal: 400;
$font-weight-medium:700;


$milli-size : 12;
$micro-size : 11;
$nano-size : 9;
$xnano-size : 9;
$giga-size : 90;

$h1-size : 40;
$h2-size : 26;
$h3-size : 14;
$h4-size : 13;
$h5-size : 12;
$h6-size : 13;
$p-size : 14;
$p-lead-size : 20;

$h1-font-size: rem-calc($h1-size);
$h2-font-size: rem-calc($h2-size);
$h3-font-size: rem-calc($h3-size);
$h4-font-size: rem-calc($h4-size);
$h5-font-size: rem-calc($h5-size);
$h6-font-size: rem-calc($h6-size);

$header-line-height : 1.3;

$p : rem-calc($p-size);
$p-lead-font-size:rem-calc($p-lead-size);
$milli : rem-calc($milli-size);
$micro : rem-calc($micro-size);
$nano : rem-calc($nano-size);
$giga : rem-calc($giga-size);
$xnano : rem-calc($xnano-size);


$base-font-size: 1rem;
$btn-width :    100px;
