
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "mixins";

    /*------------------------------------*\

    /**
    * Variables
    */

    $half-spacing-unit:$base-spacing-unit/2 !default;
    $double-spacing-unit:$base-spacing-unit*2 !default;
    $triple-spacing-unit:$base-spacing-unit*3 !default;


    /*------------------------------------*\

    /**
    * @title Helpers
    */

    //@include exports("helpers") {



        /**
        * @name %Centered--Vertical
        * @description Style for the %centered--vertical element
        * @markup
        *   <%centered--vertical>Markup</%centered--vertical>
        */

        .centered--vertical {
            top:50%;
            transform:translateY(-50%);
            position:absolute;
            width:100%;
        }

        /**
        * @name %Centered--Horizontal
        * @description Style for the %centered--vertical element
        * @markup
        *   <%centered--vertical>Markup</%centered--vertical>
        */
        .centered--horizontal {
            left:50%;
            transform:translateX(-50%);
            position:absolute;
        }

        /**
        * @name %Centered
        * @description Style for the %centered element
        * @markup
        *   <%centered>Markup</%centered>
        */

        .centered {
            left:50%;
            top:50%;
            transform:translate(-50%, -50%);
            position:absolute;
        }

        /**
        * @name %Fill--Height
        * @description Style for the %fill--height element
        * @markup
        *   <%fill--height>Markup</%fill--height>
        */

        %fill--height {
            position:absolute;
            top:0;
            bottom:0;
            height: auto;
        }

        /**
        * @name %Fill--Width
        * @description Style for the %fill--width element
        * @markup
        *   <%fill--width>Markup</%fill--width>
        */

        %fill--width {
            position:absolute;
            left:0;
            right:0;
            width: auto;
        }

        /**
        * @name %Fill
        * @description Style for the %fill element
        * @markup
        *   <%fill>Markup</%fill>
        */

        %fill {
            @extend %fill--width;
            @extend %fill--height;
        }

        /**
        * @name %Floats
        * @description Add/remove floats
        * @markup
        *   <%fill>Markup</%fill>
        */

        .float--right   { float:right!important; }
        .float--left    { float:left !important; }
        .float--none    { float:none !important; }

        /**
         * Add/remove margins
         */
        .push           { margin:       $base-spacing-unit!important; }
        .push--top      { margin-top:   $base-spacing-unit!important; }
        .push--right    { margin-right: $base-spacing-unit!important; }
        .push--bottom   { margin-bottom:$base-spacing-unit!important; }
        .push--left     { margin-left:  $base-spacing-unit!important; }
        .push--ends     { margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
        .push--sides    { margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

        .push-half          { margin:       $half-spacing-unit!important; }
        .push-half--top     { margin-top:   $half-spacing-unit!important; }
        .push-half--right   { margin-right: $half-spacing-unit!important; }
        .push-half--bottom  { margin-bottom:$half-spacing-unit!important; }
        .push-half--left    { margin-left:  $half-spacing-unit!important; }
        .push-half--ends    { margin-top:   $half-spacing-unit!important; margin-bottom:$half-spacing-unit!important; }
        .push-half--sides   { margin-right: $half-spacing-unit!important; margin-left:  $half-spacing-unit!important; }

        .push-double          { margin:       $double-spacing-unit!important; }
        .push-double--top      { margin-top:   $double-spacing-unit!important; }
        .push-double--right    { margin-right: $double-spacing-unit!important; }
        .push-double--bottom   { margin-bottom:$double-spacing-unit!important; }
        .push-double--left     { margin-left:  $double-spacing-unit!important; }
        .push-double--ends     { margin-top:   $double-spacing-unit!important; margin-bottom:$double-spacing-unit!important; }
        .push-double--sides    { margin-right: $double-spacing-unit!important; margin-left:  $double-spacing-unit!important; }


        .flush          { margin:       0!important; }
        .flush--top     { margin-top:   0!important; }
        .flush--right   { margin-right: 0!important; }
        .flush--bottom  { margin-bottom:0!important; }
        .flush--left    { margin-left:  0!important; }
        .flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
        .flush--sides   { margin-right: 0!important; margin-left:  0!important; }


        /**
         * Add/remove paddings
         */
        .soft           { padding:       $base-spacing-unit!important; }
        .soft--top      { padding-top:   $base-spacing-unit!important; }
        .soft--right    { padding-right: $base-spacing-unit!important; }
        .soft--bottom   { padding-bottom:$base-spacing-unit!important; }
        .soft--left     { padding-left:  $base-spacing-unit!important; }
        .soft--ends     { padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }
        .soft--sides    { padding-right: $base-spacing-unit!important; padding-left:  $base-spacing-unit!important; }

        .soft-half           { padding:       $half-spacing-unit!important; }
        .soft-half--top      { padding-top:   $half-spacing-unit!important; }
        .soft-half--right    { padding-right: $half-spacing-unit!important; }
        .soft-half--bottom   { padding-bottom:$half-spacing-unit!important; }
        .soft-half--left     { padding-left:  $half-spacing-unit!important; }
        .soft-half--ends     { padding-top:   $half-spacing-unit!important; padding-bottom:$half-spacing-unit!important; }
        .soft-half--sides    { padding-right: $half-spacing-unit!important; padding-left:  $half-spacing-unit!important; }

        .soft-double           { padding:       $double-spacing-unit!important; }
        .soft-double--top      { padding-top:   $double-spacing-unit!important; }
        .soft-double--right    { padding-right: $double-spacing-unit!important; }
        .soft-double--bottom   { padding-bottom:$double-spacing-unit!important; }
        .soft-double--left     { padding-left:  $double-spacing-unit!important; }
        .soft-double--ends     { padding-top:   $double-spacing-unit!important; padding-bottom:$double-spacing-unit!important; }
        .soft-double--sides    { padding-right: $double-spacing-unit!important; padding-left:  $double-spacing-unit!important; }

        .soft-triple           { padding:       $triple-spacing-unit!important; }
        .soft-triple--top      { padding-top:   $triple-spacing-unit!important; }
        .soft-triple--right    { padding-right: $triple-spacing-unit!important; }
        .soft-triple--bottom   { padding-bottom:$triple-spacing-unit!important; }
        .soft-triple--left     { padding-left:  $triple-spacing-unit!important; }
        .soft-triple--ends     { padding-top:   $triple-spacing-unit!important; padding-bottom:$triple-spacing-unit!important; }
        .soft-triple--sides    { padding-right: $triple-spacing-unit!important; padding-left:  $triple-spacing-unit!important; }


        .hard           { padding:       0!important; }
        .hard--top      { padding-top:   0!important; }
        .hard--right    { padding-right: 0!important; }
        .hard--bottom   { padding-bottom:0!important; }
        .hard--left     { padding-left:  0!important; }
        .hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
        .hard--sides    { padding-right: 0!important; padding-left:  0!important; }

        .make-block { display:block;width:100%}

        .force-full-width { width:100% !important;}

    //}
