

/**
* Import Mixins to provide modules with exports.
* List other required modules here.
*/

@import "mixins";

/*------------------------------------*\

/**
* Variables
*/

$black : #000000 !default;
$white : #FFFFFF !default;


/*------------------------------------*\

/**
* @title Icons
*/


/**
*   All Logic pertaining to the top back horizontal navigation
*   should go in this file.
*/

/*------------------------------------*\

$Icons Area

*/


    i {
        font-style:normal;
    }

    .icon {
        svg {
            fill:$black;
            transition:fill $base-timing $base-easing;
        }
        a:hover &  svg {
            fill:$color-anchor-hover;
        }
    }

    /**
    * Icon Sizes
    */

    .icon--nano {
        &,svg {
            height:7px !important;
            width:7px !important;
        }
    }

    .icon--micro {
        &,svg {
            height:13px !important;
            width:13px !important;
        }
    }

    .icon--milli {
        svg {
            height:15px !important;
            width:15px !important;
        }
    }

    .icon--alpha {
        &, svg {
            width:90px;
            height:auto;
        }
    }

    .icon--beta {
        svg {
            height:auto;
            width:53px;
        }
    }

    .icon--white {
        fill:$white;
    }


/**
* End Icons
*/
