.side-right {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    height:100%;
    width:$base-spacing-unit * 2;
    line-height:$base-spacing-unit * 2;
    background:$white;
    z-index:index($elements, slider-right);

    .side-right__text {
        transform: rotate(90deg) translate(-50% , 0);
        display:block;
        position:absolute;
        bottom:50%;
        right: 0;
        width:$base-spacing-unit * 2;
        height:$base-spacing-unit * 2;
        line-height:$base-spacing-unit * 2;
    }

    // .side-right__trigger {
    //     position:absolute;
    //     transform:translate(0%,-50%);
    //     right: 0;
    //     left:0;
    //     width:auto;
    //     top:50%;
    //     transition:transform $base-timing * 3 $base-timing * 3 $base-easing;
    //     z-index:1;
    //     opacity:1;
    //
    //
    // }
    //
    // &:hover {
    //     .side-right__trigger {
    //         opacity:1;
    //     }
    // }
    //
    // &.side-center {
    //     right:auto;
    // }
}
