
/**
*    Drawer
*/


.drawer {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    transform:translate3d(100%, 0, 0);
    z-index:index($elements, drawer);
    transition:all $base-timing $base-easing;
    @include breakpoint('medium') {
        width:50%;
        transform:translate3d(200%, 0, 0);
    }
    .filters-is-visible & {

    }

}

.posts-feed {
    height:100vh;
    width:100%;
    overflow:scroll;
    background:$blue;
    padding:$base-spacing-unit * 2;
    @include breakpoint('medium') {

    }
}

.posts-feed__list {
    padding:$base-spacing-unit * 2;
    vertical-align:middle;
}
    .posts-feed__list__item {
        display:block;
        position:relative;

        &:after {
            position:absolute;
            content:'';
            left:0;
            right:0;
            border-bottom:1px dashed;
            top:$base-spacing-unit ;
        }

        &:before {
            position:absolute;
            content:'';
            left:0;
            top:$base-spacing-unit;
            width:rem-calc(3);
            height:rem-calc(3);
            border-radius:50%;
            background:$black;

            transition:all $base-timing $base-easing;
            transform:translate(-0%, -50%);
            opacity:0;
        }

        &.is-active {
            color:$color-anchor-hover;
            &:before {
                transform:translate(-600%, -50%);
                opacity:1;
            }
        }

    }
    .posts-feed__list__link {

        display:block;
        width:35%;

        span {
            display:inline-block;
            line-height:$base-spacing-unit * 2;
            /* Required for text-overflow to do anything */
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background:$blue;
            position:relative;
            z-index:1;
            padding-right:$base-spacing-unit/4;
        }
    }

    .posts-feed__list__tag-list {
        position:absolute;
        right:0;
        top:0;
        display:block;
        width:60%;
        text-overflow: ellipsis;
        text-align:right;
        overflow:hidden;
        white-space: nowrap;
        overflow: hidden;
        z-index:1;

        li {
            display:inline-block;
            text-align:right;
            top:rem-calc(1px);
            padding-left:$base-spacing-unit/4;
            background:$blue;
            position:relative;
            z-index:1;
            a {
                line-height:$base-spacing-unit * 2;
            }
        }
    }
