
/**
*    Counter
*/

.posts-count__index,
.posts-count__total {
    display:block;
    position:absolute;
    left: 0;
    width:$base-spacing-unit * 2;
    height:$base-spacing-unit * 2;
    line-height:$base-spacing-unit * 2;

}

.posts-count__index  {
    bottom:50%;
    transform: rotate(-90deg) translate(-$base-spacing-unit , 0);
}
.posts-count__total {
    transform: rotate(-90deg) translate($base-spacing-unit , 0);
    bottom:50%;
    &:before {
        content:'/';
        position:absolute;
        bottom:0%;
        left:0;
        right:0;
        transform:translate(-50%, -0%);
    }

}
