$site-max-width : rem-calc(700) !default;

.section {
    max-width:$site-max-width;
    margin:auto;
//    padding:$base-spacing-unit;
}

.section--full {
    max-width:100%;
}

.main {
    transition:background $base-timing $base-easing;
}
