$device-radius : 5px;
$devices-color : $white !default;
$devices-line-style : 2px solid $devices-color !default;

$imac-base-height : 50px;
$imac-socket-height: 60px;

$screen-padding : 20px;
$screen-padding-color:$black;
//Wrapper Div
.devices {
    height:150vh;
    position:relative;
    width:100%;
    overflow:hidden;
    // transform:scale(.6);
    @include breakpoint('medium') {
        height:100vh;
    }
    // @include breakpoint('large') {
    //     transform:scale(1);
    // }
}

//Main Div for each device
.device {
    display: block;
    border-radius: $device-radius;
    border:$devices-line-style;
    transform: translateY(0px);
    position:absolute;
    bottom:0;
    max-width:100%;
}

//Image
.device > a,
.device > a img {
    display: block;
    outline: none;
}

.device > a {
    position: relative;
}

.device > a img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* reset box sizing for this demo */
/* we want the paddings to be added to our width/height */
.device,
.device div,
.device:before,
.device:after {
    box-sizing: content-box;
}

/* Common pseudo elements' properties */
/* md-device:before -- camera / top element */
/* md-device:after -- home button */
/* md-base-element:after -- socket of base */
/* md-border-element:after -- grey inset opending macbook */
.device:before,
.device:after,
.md-base-element:after,
.md-border-element:after {
    position: absolute;
    content: '';
    z-index: 1000;
    left: 50%;
    top: 0;
}

.device:before,
.device:after {
    background: $devices-color;;
}

.device:before {
    transform: translateY(220%) translateX(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.device > div {
    position: absolute;
}

/* Let's predefine some properties so that transitions happen smoothly */
.md-border-element,
.md-base-element,
.md-border-element:after {
    opacity: 0;
}

/* md-device:after -- home button (device 3 and 4) */
.device:after {
    width: $screen-padding - 8px;
    height: $screen-padding - 8px;
    top: 100%;
    border-radius: 50%;
    transform-origin: 50% 100%;
    transform: translateY(-200%) translateX(-50%) scale(0);
    background-color: transparent;
    border:2px solid darken($white, 30%);

}

/* md-border-element -- border bottom iMac, keyboard/base macbook */
.md-border-element {
    height: $imac-base-height;
    border-radius: 0 0 $device-radius $device-radius;
    top: 100%;
    width: 100%;
    background-color: transparent;
    border:$devices-line-style;
    left: 50%;
}

/* md-border-element:after; -- grey inset opending macbook */
.md-border-element:after {
    background: darken($white, 30%);
    width: 45px;
    border-radius: 0 0 5px 5px;
    height: 5px;
    opacity: 0;
}

.md-border-element,
.md-border-element:after {
    transform: translateX(-50%);
}

/* md-base-element -- base imac */
.md-base-element {
    top: 100%;
    left: 50%;
    width: 130px;
    height: 0;
    background: transparent;
    border-bottom: $imac-socket-height solid $devices-color;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform: translateY($imac-socket-height) translateX(-50%) translateY(-75%);
    z-index: -1;
}

/* md-base-element:after -- socket of base imac */
.md-base-element:after {
    background: $devices-color;
    border-radius: 5px 5px 5px 5px;
    width: 180px;
    height: 5px;
    transform: translateY($imac-socket-height) translateX(-50%);
}

/* Device 1 (large monitor) */
.device-1 {
    padding: $screen-padding ;
    border-radius: $device-radius $device-radius 0 0;
    transform: translateY(-$imac-base-height + -$imac-socket-height);
    background:$screen-padding-color;
    border:0;
    left:0;
    bottom:12px;
    @include breakpoint('large') {
        left:5%;

    }
}

.device-1 > a {
    width: 500px;
    height: 300px;
}

.device-1 .md-border-element {
    opacity: 1;
    background:$white;
}

.device-1 .md-base-element {
    opacity: 1;
    transform: translateY($imac-base-height ) translateX(-50%) translateY(0);
}

/* Device 2 (laptop) */
.device-2 {
    padding: $screen-padding ;
    border-radius: $device-radius $device-radius 0 0;
    left:45%;
    background:$screen-padding-color;
    transform:translate(0, -4%);
    bottom:8px;
    border:none;
}

.device-2 > a {
    width: 300px;
    height: 190px;
}

.device-2 .md-border-element {
    opacity: 1;
    width: 125%;
    height: 4%;
    background: $devices-color;
    border-radius: 0 0 10px 10px;
}

.device-2 .md-border-element:after {
    opacity: 1;
}

/* Device 3 (tablet) */
.device-3 {
    padding: $screen-padding $screen-padding/3;
    transform: translate(-38%, 50px)rotate(90deg);
    right:5%;
    background:$devices-color;
    border:none;
    border-radius:4px;
}


.device-3 > a {
    width: 135px;
    height: 200px;
}

.device-3:before {
    transform: translateY(300%) translateX(-50%);
    background: darken($white, 30%);
}

.device-3:after {
    transform: translateY(-115%) translateX(-50%) scale(1);
    border:2px solid darken($white, 30%);
}

/* Device 4 (smartphone) */
.device-4 {
    padding: 25px 4px;
    border:none;
    background:$black;
    transform: translateY(4px);
    left:10%;
}

.device-4 > a {
    width: 100px;
    height: 160px;
}

.device-4:before {
    width: 20px;
    height: 4px;
    border-radius: 3px;
    transform: translateY(200%) translateX(-50%);
}

.device-4:after {
    transform: translateY(-110%) translateX(-50%) scale(1);
}
