
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Lists
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    */



    ul,
    ol,
    dl {
        list-style:none;
    }

    .list--bulleted {
        margin-bottom:$base-spacing-unit;
        li {
            position:relative;
            padding:0 0 $base-spacing-unit/2 $base-spacing-unit;
            font-size:$milli;
            &:before {
                content:' ';
                left:0;
                top:.45rem;
                content:'';
                height:rem-calc(5);
                width:rem-calc(5);
                transform:rotate(-45deg);
                position:absolute;
            }
        }
    }

    .list--inline {
        display:block;
        width:100%;
        margin-left:-$base-spacing-unit/2;
        li {
            display:inline-block;
            position:relative;
            margin:0 $base-spacing-unit/2 $base-spacing-unit/4;

            &.is-disabled a {
                opacity:0;
            }
        }
        a,
        label {

        }
    }

    .nav--global {
        margin-left:-$base-spacing-unit;
        li {
            width:50%;
            margin:0;
            padding:0 0 0 $base-spacing-unit;
        }
        a,
        label {
        //    padding:0 $base-spacing-unit/2;
        }

        .is-active > a {
    //        text-decoration:underline;
        }

    }
