@import "type.font";
@import "type.base";
@import "type.headings";
@import "type.lists";
@import "type.formatted";

$color-split-left : darken($yellow, 30%) !default;
$color-split-right: darken($blue, 30%) !default;


%split {
    position:relative;
    &:after,
    &:before {
        content:'';
        left:0;
        right:0;
        bottom:0;
        width:$base-spacing-unit;
        height:1px;
        background:$color-split-left;
        position:absolute;
        transition:all $base-timing $base-easing;
        display:none;
    }
    &:after {
        left:$base-spacing-unit;
        background:$color-split-right;
    }
}

.split--left {
    @extend %split;
    &:before {
        display:block;
    }
}

.split--right {
    @extend %split;
    &:after {
        display:block;
    }
}

.split--both {
    @extend %split;
    &:before,
    &:after {
        display:block;
    }
}



.split--full {
    position:relative;
    display:block;
    margin:0 $base-spacing-unit/2;
    line-height:$base-spacing-unit  ;
    &:before,
    &:after {
        content:' ';
        position:absolute;
        top:0;
        bottom:0;
        width:auto;
        height:$base-spacing-unit  ;
        padding:0 ;
    }
    &:before {
        right:50%;
        left:-$base-spacing-unit/2;
        border:1px solid $color-split-left;
        border-right:none;
    }
    &:after {
        left:50%;
        right:-$base-spacing-unit/2;
        border:1px solid $color-split-right;
        border-left:none;
    }


}
