
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Lists
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    */



    ul,
    ol,
    dl {
        list-style:none;
    }

    .list--inline {
        font-size:$p;
        display:block;
        li {
            display:inline-block;
            position:relative;
            margin:0 ;
            padding:0 $base-spacing-unit;
            &.is-disabled a {
                opacity:0;
            }

            &:before {
                content:' ';
                left:0;
                top:50%;
                content:'';
                height:rem-calc(4);
                width:rem-calc(4);
                border-radius:50%;
                transform:translate(-50%);
                position:absolute;
                background:$black;
            }
            &:first-child:before {
                display:none;
            }
        }
        a,
        label {

        }
    }
