/*
Text coming in from CMS
*/
.formatted {
    p,
    h1,
    h2,
    h3,
    h4 {
        margin-bottom:0;
        padding:$base-spacing-unit 0;
        @include breakpoint('medium') {
            width:50%;
            left:50%;
            position:relative;
            max-width:rem-calc(500px);
            padding:$base-spacing-unit * 2 $base-spacing-unit * 3 $base-spacing-unit 0;
            + p,
            + h1,
            + h2,
            + h3,
            + h4 {
                padding-top:0;
            }
            
        }
    }

    ul {
        position:relative;
        @include breakpoint('medium') {
            width:50%;
            left:50%;
            padding-left:$base-spacing-unit;
        }
    }




}
